body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

#noVNC_container {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

#noVNC_canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}

#noVNC_status_bar {
    background-color: rgba(70, 70, 70, 0.7);
    border-radius: 0 0 10px 10px;
}

.noVNC_status_button {
    padding: 6px 8px;
}

#noVNC_status {
    color: #fff;
} 